.timePlayer-container{
	width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
	.back-bar{
		width: 100%;
		.selected-bar{
			.pointer-end{
				.pointer-icon{

				}
				.pointer-label{

				}
			}
		}
		.line-bar{

		}

	}
}
